.body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.logo-highlight {
  color: #2e2f42;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  align-items: center;
  gap: 40px;
  display: flex;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.nav-link {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
  position: relative;
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.contact-info {
  font-style: normal;
  margin-left: auto;
}

.contact-list {
  align-items: center;
  display: flex;
  gap: 40px;
}

.contact-link {
  display: block;
  color: #434455;
  font-size: 16px;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.banner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 188px 0;
  box-sizing: border-box;
  max-height: 600px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}

.banner-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-top: 188px;
  padding-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
}
.banner-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 12px 32px;
  cursor: pointer;
  text-align: center;
  margin-top: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.banner-btn:hover {
  background-color: #404bbf;
}

.banner-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  outline: none;
}

.services {
  padding: 120px 0;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.services-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.services-item {
  flex: 1;
  text-align: left;
  width: calc((100% - 72px) / 4);
}

.services-item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.services-item-text {
 font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}
.services-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: var(--cloud, #f4f4fd);
  text-align: center;
  margin-bottom: 8px;
}
.services-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.services-icon-svg {
  width: 64px;
  height: 64px;
  fill: #2e2f42;
}

.team {
  background-color: #f4f4fd;
  text-align: center;
  padding: 120px 0;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 24px;
}

.team-item {
  background: #ffffff;
  padding: 0;
  overflow: hidden;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  justify-content: space-between;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-team-item {
  padding: 32px 0;
  margin-top: auto;
}

.team-photo {
  width: 100%;
  height: auto;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin-top: 12px;
  list-style: none;
}

.team-social-item {
  width: 40px;
  height: 40px;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}

.team-icon-svg {
  width: 16px;
  height: 16px;
  fill: var(--some-variable, #f4f4fd);
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 24px;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: var(--text-color, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0%);
}
.container-portfolio-item {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  padding: 0;
  margin: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
}
.portfolio-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-category {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  text-align: left;
  color: #ffffff;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin-bottom: 16px;
}
.footer a {
  display: flex;
  text-decoration: none;
  color: #4d5ae5;
}

.footer-logo-highlight {
  color: #f4f4fd;
}

.footer-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer a:hover {
  color: #4d5ae5;
}
.footer-container {
  display: flex;
  align-items: baseline;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer-left {
  margin-right: 120px;
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 120px;
}

.footer-social-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-icon-svg {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto;
  transform: translateY(1px);
  fill: var(--some-variable, #f4f4fd);
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer-subscribe-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #ffffff;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
}
.label-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer-subscribe-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #31d0aa;
}

.footer-subscribe-icon {
  fill: #2e2f42;
  margin-left: 16px;
}
/* --- Фон модального окна (оверлей) --- */
.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/*-- Модальное окно -- */
/*-- 
/* --- Контейнер модального окна --- */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

/* --- Кнопка закрытия модального окна --- */
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- Ховер и фокус для кнопки закрытия --- */
.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover svg,
.modal-close:focus svg {
  fill: #ffffff;
}

/* --- Заголовок модального окна --- */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* --- Общий стиль формы --- */
.modal-form {
  flex-direction: column;
  gap: 8px;
}
.modal-input-container {
  margin-bottom: 8px;
}

/* --- Поля формы --- */
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

/* --- Контейнер для инпутов с иконками --- */
.input-container {
  position: relative;
  width: 100%;
}

.input-wrapper:focus .input-wrapper:hover {
  border-color: #4d5ae5;
}

/* --- Иконки внутри инпутов --- */
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

/* --- Инпуты --- */
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  margin: 0 auto;
  font-size: 14px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- Фокус на инпуте --- */
.modal-input:focus {
  border-color: #4d5ae5;
}

/* --- Фокус на иконке при активном инпуте --- */
.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

/* --- Текстовое поле (textarea) --- */
.textarea-container {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  resize: none;
  outline: transparent;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

/* --- Чекбокс с соглашением --- */
.chekbox-container {
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  color: #8e8f99;
  flex-wrap: nowrap;
  margin-bottom: 24px;
}
.modal-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
  gap: 8px;
  position: relative;
  flex-wrap: wrap;
}

/* --- Скрытие стандартного чекбокса --- */
.modal-checkbox input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* --- Кастомный чекбокс (обертка) --- */
.checkmark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  margin-right: 8px;
}

/* --- Иконка галочки внутри чекбокса --- */
.checkmark-icon {
  width: 10px;
  height: 8px;
  fill: #ffffff;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#user-privacy:checked ~ .modal-checkbox .checkmark {
  background-color: var(--primary-color, #404bbf);
  border: none;
  fill: var(--icon-color, #f4f4fd);
}

#user-privacy:checked ~ .modal-checkbox .checkmark .checkmark-icon {
  opacity: 1;
}

/* --- Ссылка на политику конфиденциальности --- */
.privacy-policy {
  color: #4d5ae5;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  text-decoration: none;
  text-decoration: underline;
}

.privacy-policy:hover {
  text-decoration: underline;
}

/* --- Кнопка отправки формы --- */
.modal-submit {
  font-family: "Roboto", sans-serif;
  min-width: 169px;
  display: block;
  height: 56px;
  background: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.modal-submit:hover {
  background: #404bbf;
}
